# Notebook inicial de EDA para llamadas 123
---------------------------------------------

In [2]:
# importar librerias de manipulacion
import pandas as pd  # Traer todo lo de la libreria

import os
from pathlib import Path  # Solo traer una funcion de esa libreria

In [6]:
root_dir=Path('.').resolve().parent # para conocer la ruta donde estoy
root_dir
filename='llamadas123_julio_2022.csv'   #Nombre del archivo

file_path = os.path.join(root_dir,"data","raw",filename)  # Ruta del archivo que necesito 
file_path

'C:\\Users\\User\\OneDrive\\Documentos\\Esp. Big Data - Analisis de Datos\\Semestre 1\\Lenguajes de Programación para Big Data\\ESEIT_BIGDATA2022_1\\data\\raw\\llamadas123_julio_2022.csv'

In [15]:
# Utilizar Pandas para leer mi archivo csv, sep para indicar como viene separado y encoding para indicar el idioma, nrows es para traer una muestra pequeña de la tabla
df = pd.read_csv(file_path,sep=";",encoding="latin-1",nrows=100)

In [21]:
# Utilizar Pandas para leer mi archivo csv, sep para indicar como viene separado y encoding para indicar el idioma, nrows es para traer una muestra pequeña de la tabla
df = pd.read_csv(file_path,sep=";",encoding="latin-1")

In [16]:
df.head(10)  # Ver la cantidad de filas que quiero.

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29
5,CRU-00278376-22,2022-07-01 00:56:11,1,Usaqun,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Evento Respiratorio,ALTA,0000-00-00 00:00:00
6,CRU-00278380-22,2022-07-01 01:09:14,17,La Candelaria,57,A¤os,FEMENINO,Norte,S¡ntomas Gastrointestinales,CRITICA,2022-07-01 04:17:41
7,CRU-00278379-22,2022-07-01 01:09:27,19,Ciudad Bol¡var,65,A¤os,FEMENINO,Sur,Enfermo,ALTA,2022-07-01 05:07:00
8,CRU-00278386-22,2022-07-01 01:11:07,15,Antonio Nari¤o,14,A¤os,MASCULINO,Sur,Convulsi¢n,ALTA,2022-07-01 02:37:45
9,CRU-00278383-22,2022-07-01 01:12:00,4,San Crist¢bal,83,A¤os,FEMENINO,Sur,Evento Respiratorio,ALTA,0000-00-00 00:00:00

In [22]:
df.shape[0]  # cantidad de filas y columnas que tiene mi tabla, si coloco 0 me trae filas, si coloco 1 me trae las columnas

13055

In [20]:
type(df.shape)

tuple

In [23]:
# object es un string, visualizar el esquema de mi tabla
df.dtypes

NUMERO_INCIDENTE                     object
FECHA_INICIO_DESPLAZAMIENTO_MOVIL    object
CODIGO_LOCALIDAD                      int64
LOCALIDAD                            object
EDAD                                 object
UNIDAD                               object
GENERO                               object
RED                                  object
TIPO_INCIDENTE                       object
PRIORIDAD                            object
RECEPCION                            object
dtype: object

In [26]:
# value_counts es para contar y normalize=True es para porcentaje
df['TIPO_INCIDENTE'].value_counts(normalize=True)

Herido                                    0.255228
Inconsciente / Paro cardiorespiratorio    0.140942
Evento Respiratorio                       0.130525
Convulsi¢n                                0.090157
Enfermo                                   0.063730
Trastorno Mental                          0.058062
Dolor Tor cico                            0.054079
Intento de Suicidio                       0.051704
Accidente Cerebro Vascular                0.029950
S¡ntomas Gastrointestinales               0.028878
Ca¡da de Altura                           0.023899
Patolog¡a Ginecobsttrica                 0.021065
Intoxicaci¢n                              0.019916
Amenaza de Suicidio                       0.011337
Acompa¤amiento Evento                     0.007813
Violencia Sexual                          0.005285
Maltrato                                  0.002911
Electrocuci¢n / rescate                   0.001379
Sangrado Vaginal                          0.001379
Quemaduras                                0.000919
Solicitud de Apoyo                        0.000843
Name: TIPO_INCIDENTE, dtype: float64

In [28]:
# value_counts es para contar y normalize=True es para porcentaje, dropna para verificar si existe valores vacios
df['EDAD'].value_counts(normalize=True, dropna=False)

SIN_DATO    0.475144
23          0.011566
22          0.010724
30          0.010341
27          0.010264
              ...
7           0.001302
98          0.001226
9           0.001149
8           0.001072
97          0.000919
Name: EDAD, Length: 100, dtype: float64

In [31]:
len(df['TIPO_INCIDENTE'].unique())  # Que tan larga es la lista

21

In [36]:
lista_columnas=df.columns
lista_columnas[0:3]   # 0, primer elemento. -1, último elemento

Index(['NUMERO_INCIDENTE', 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
       'CODIGO_LOCALIDAD'],
      dtype='object')

In [37]:
for col in lista_columnas:
    print(col)

NUMERO_INCIDENTE
FECHA_INICIO_DESPLAZAMIENTO_MOVIL
CODIGO_LOCALIDAD
LOCALIDAD
EDAD
UNIDAD
GENERO
RED
TIPO_INCIDENTE
PRIORIDAD
RECEPCION

In [39]:
lista_columnas=df.columns
for col in lista_columnas:
    lista_unicos=df[col].unique()
    n_unicos=len(lista_unicos)
    print('columna',col,n_unicos)

columna NUMERO_INCIDENTE 12015
columna FECHA_INICIO_DESPLAZAMIENTO_MOVIL 12781
columna CODIGO_LOCALIDAD 20
columna LOCALIDAD 20
columna EDAD 100
columna UNIDAD 6
columna GENERO 3
columna RED 5
columna TIPO_INCIDENTE 21
columna PRIORIDAD 4
columna RECEPCION 5235

In [41]:
lista_columnas=df.columns
# Crear un diccionario vacio
dict_reporte = dict()


for col in lista_columnas:
    lista_unicos=df[col].unique()
    n_unicos=len(lista_unicos)
    dict_reporte[col] = n_unicos
    # print('columna',col,n_unicos)}

print('fuera del loop')
print(dict_reporte)

fuera del loop
{'NUMERO_INCIDENTE': 12015, 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL': 12781, 'CODIGO_LOCALIDAD': 20, 'LOCALIDAD': 20, 'EDAD': 100, 'UNIDAD': 6, 'GENERO': 3, 'RED': 5, 'TIPO_INCIDENTE': 21, 'PRIORIDAD': 4, 'RECEPCION': 5235}

In [46]:
# Crear una tabla con el diccionario que tengo con pandas
df_reporte = pd.DataFrame.from_dict(dict_reporte, orient='index')
df_reporte.rename({0: 'conteo'}, inplace=True,axis=1)   # 1 buscar en la columna, 0 en las filas
df_reporte

                                   conteo
NUMERO_INCIDENTE                    12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL   12781
CODIGO_LOCALIDAD                       20
LOCALIDAD                              20
EDAD                                  100
UNIDAD                                  6
GENERO                                  3
RED                                     5
TIPO_INCIDENTE                         21
PRIORIDAD                               4
RECEPCION                            5235

In [49]:
out_name = 'reporte_' + filename # Renombrar ya el archivo de salida
out_name
out_path =  os. path.join(root_dir,"data", "processed", out_name)
df_reporte.to_csv(out_path)